<app-template>
  <div class="container">
    <br />
    Status: {{ status == "CONNECTED" ? "CONECTADO" : "DESCONECTADO"
    }}<span id="status" class="data"></span>
    <div *ngIf="qrCode !== '' && status !== 'CONNECTED'; else showThis">
      <h2>Escaneie para ligar o bot:</h2>
      <img [src]="qrCode" alt="Image Source" />
    </div>
    <ng-template #showThis>
      <br />
      <h2>Controles</h2>
      <button (click)="stop()" id="stop">Parar</button>
      <button (click)="start()" id="start">Reiniciar</button>
      <br
    /></ng-template>
  </div>
</app-template>
