<app-template>
  <div class="container">
    <br />
    <div class="box sidebar2">
      <h2>Controles</h2>
      <button (click)="start()" id="start">Start</button>
      <button (click)="stop()" id="stop">Stop</button>
      <button (click)="restart()" id="restart">Restart</button>
    </div>
    <br />
    <h2>Escaneie para ligar o bot:</h2>
    <button (click)="showQrCode = !showQrCode">Mostrar QR Code</button>
    <br />
    <img
      *ngIf="showQrCode && getQrCode() !== ''; else showThis"
      [src]="qrCode"
      alt="Image Source"
    />
    <ng-template #showThis
      ><p>Status: {{ status }}<span id="status" class="data"></span></p
    ></ng-template>
  </div>
</app-template>
