.menu {
    min-height: calc(100vh - 6vh);
    background-color: #aeaeae;

    ul {
        li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 1.25rem 0 1.25rem 0.5rem;
            background-color: #a0a0a0;
            border: 2px solid #aeaeae;
            font-weight: 600;
            color: #000;
            cursor: pointer;
        }

        li:hover {
            background-color: #aeaeae;
            border: 2px solid #a0a0a0;
        }

        .menuClicado {
            background-color: #aeaeae;
            border: 2px solid #a0a0a0;
        }
    }
}